<!DOCTYPE html>
<html lang="en">
    <head>
        <title>index</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <p>Please input 2 numbers:</p>

    <form action="/add/" method="get">
        a: <input type="text" name="a" value=""><br>
        b: <input type="text" name="b" value=""><br>
        <input type="submit" name="submit" value="submit">
    </form>
    </body>
</html>